<footer>
    <MudAppBar Elevation="1" Style="top: auto; bottom: 0; background-color: white;" Dense="true" Fixed="true">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="4" Align="Align.Left"></MudItem>
            <MudItem xs="4" Align="Align.Center">
                <a Href="https://github.com/skywalkerisnull/blazor-wedding" Target="_blank">
                    <MudIcon Icon="@Icons.Custom.Brands.GitHub" />
                </a>
            </MudItem>
            <MudItem xs="4" Align="Align.Right">
                <a Href="/login">Login</a>
            </MudItem>
        </MudGrid>
    </MudAppBar>
</footer>