<footer>
    <MudAppBar Elevation="1" Style="top: auto; bottom: 0; background-color: white;" Dense="true" Fixed="true">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="4" Align="Align.Left"></MudItem>
            <MudItem xs="4" Align="Align.Center">
                <AuthorizeView>
                    <Authorized>
                        <a Href="https://github.com/skywalkerisnull/blazor-wedding" Target="_blank">
                            <MudIcon Icon="@Icons.Custom.Brands.GitHub" />
                        </a>
                    </Authorized>
                </AuthorizeView>
            </MudItem>
            <MudItem xs="4" Align="Align.Right">
                <AuthorizeView>
                    <Authorized>
                        <a Href="/login">Logout</a>
                    </Authorized>
                    <NotAuthorized>
                        <a Href="/login">Login</a>
                    </NotAuthorized>
                </AuthorizeView>
            </MudItem>
        </MudGrid>
    </MudAppBar>
</footer>