@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Routing

<PageTitle>Wedding</PageTitle>

<header>
    <NavMenu />
</header>

<div class="container">
    <style>
        .content {
            display: flex;
        }
        .column {
            flex: 1;
        }
    </style>
    <div class="column">
        <!-- First column content goes here -->
    </div>
    <div class="main">
        <div class="content">
            @if (RouteData != null && RouteData.RouteValues.Count != 0)
            {
                var slug = RouteData.RouteValues["Slug"]?.ToString();
            }
            @Body
        </div>
    </div>
    <div class="column">
        <!-- Third column content goes here -->
    </div>
</div>

@*<MudThemeProvider />*@
<MudDialogProvider />
<MudSnackbarProvider />


@code {
    [CascadingParameter]
    RouteData RouteData { get; set; }
}