<html>
<head>
    <style>
        /* Add some style to the email */
        </style>
</head>
<body>
<div class="container">
    <p>You have successfully registered with Your Wedding Management Tool. Please confirm your email address by clicking on the link below.</p>
    <a href=ConfirmationLink>Confirm Email</a>
    <p>If you did not register with us, please ignore this email.</p>
    <p>Happy planning,</p>
</div>
</body>
</html>

@code
{
    [Parameter] public string ConfirmationLink { get; set; }
}
