@page "/confirm-email"
@using Microsoft.AspNetCore.Identity 

@inject IConfiguration _configuration
@inject UserManager<IdentityUser> _userManager 
@inject NavigationManager _navigationManager

<h3>Confirm your email address</h3>

@if (_confirmed) { 
    <p>Thank you for confirming your email address.</p> 
} 
else if (_error) { 
    <p>Sorry, something went wrong. Please try again later.</p> 
} 
else { 
    <p>Please wait while we confirm your email address…</p> 
}

@code {
    private bool _confirmed = false;
    private bool _error = false;

    protected override async Task OnInitializedAsync()
    {
        if (_configuration.GetValue("AllowAccountRegistration", false))
        {
            var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
            var queryTokens = System.Web.HttpUtility.ParseQueryString(uri.Query);

            var userId = queryTokens["userid"];
            var token = System.Text.Encoding.UTF8.GetString(System.Convert.FromBase64String(queryTokens["token"]));
            
            if (!string.IsNullOrEmpty(userId) && !string.IsNullOrEmpty(token))
            {
                var user = await _userManager.FindByIdAsync(userId);
                if (user != null)
                {
                    var result = await _userManager.ConfirmEmailAsync(user, token);
                    if (result.Succeeded)
                    {
                        _confirmed = true;
                    }
                    else
                    {
                        _error = true;
                    }
                }
                else
                {
                    _error = true;
                }
            }
            else
            {
                _error = true;
            }
        }
        else
        {
            _error = true;
        }
    }
}