@page "/invite/{UniqueInviteId}"
@using Wedding.Models
@using MudBlazor
@using Wedding.Services
@inject IPartyService partyService
@inject IGuestService guestService
@inject IJSRuntime jsRuntime

<h1>Wedding Invitation</h1>

@if (party == null)
{
    <p>Loading...</p>
}
else if (party.IsInvited == false)
{
    <p>Sorry, we are unable to locate your invite. If you think this is a mistake, please reach out to the hosts.</p>
}
else
{
    <MudPaper Class="p-4">
        <MudText Variant="Variant.H5">Dear @party.PartyName,</MudText>
        <MudText Variant="Variant.Body1">You are cordially invited to the wedding of Hayley & Ashley</MudText>
        <MudText Variant="Variant.Body1">So that we know that you are coming, please fill in the details below and click on the Accept button to confirm your attendance.</MudText>
        <br />
        <MudForm Model="@party">
            <MudGrid Spacing="8">
                @foreach (var guest in party.Guests)
                {
                    <GuestAccept Guest="@guest"></GuestAccept>
                }
            </MudGrid>
            <br />
            <div style="text-align: center;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@AcceptInviteMethod">Accept</MudButton>
            </div>
        </MudForm>
        <br />
        <br />
        <MudText Variant="Variant.Body1">For your convenience, here is a calendar invite with all the details that you need.</MudText>
        <br />
        <MudGrid Class="d-flex justify-center">
            <add-to-calendar-button name="Ashley & Hayley's Wedding"
                                    startDate="2024-01-06"
                                    startTime="15:00"
                                    endDate="2024-01-06"
                                    endTime="23:30"
                                    timeZone="Australia/Brisbane"
                                    location="Preston Peak Winery Function Centre - 430 Preston Boundary Road, Preston Queensland 4352"
                                    availability="busy"
                                    options="'Apple','Google','Outlook.com','Yahoo','Microsoft365','iCal'"
                                    listStyle="dropdown-static"
                                    buttonStyle="date"
                                    trigger="click">
            </add-to-calendar-button>
        </MudGrid>
    </MudPaper>
}

@code {
    [Parameter]
    public string UniqueInviteId { get; set; }

    private Party party;


    protected override async Task OnInitializedAsync()
    {

        party = await partyService.GetByUniqueInviteIdAsync(UniqueInviteId);
        if (party != null && party.InvitationOpened == false)
        {
            party.InvitationOpened = true;
            await partyService.UpdateAsync(party);
        }
    }

    private async Task AcceptInviteMethod()
    {
        var now = DateTime.UtcNow;
        foreach (var guest in party.Guests)
        {
            if (guest.IsAttending == true)
            {
                guest.InviteAccepted = now;
            }
            await guestService.UpdateAsync(guest);
        }
    }
}